
#mainbody{
	/*background-color: red;*/
	text-align: center;
	height: 100%;
  

}
#leftside
{
	/*background-color: yellow;*/

	position:relative;
	float:left;
	width:50%;
	height:100%;
	
}
#topgraph{
	height:40%;
	/*background-color:red;*/
	position:relative;
}
#bottomscollers
{
	height:50%;
	/*background-color:green;*/
	position:relative;
	
}
#leftscroller
{
	float:left;
	/*background-color: yellow;*/
	position:relative;
	width: 50%;
	height: 100%;
	
}
#rightscroller
{
	
	float: right;
	/*background-color: blue;*/
	position:relative;
	width: 50%;
	height: 100%;
	
}
#rightside
{
	/*background-color:green;*/
	position:relative;
	float:right;
	width:50%;
	height:100%;

}