/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Aug-2018, 13:43:10
    Author     : Graduate
*/

/*table {
  border-collapse: collapse;
}
th {
  border-bottom: 2px solid #ddd;
  padding: 8px;
  font-weight: bold;
}
td {
  padding: 8px;
  border-top: 1px solid #ddd;
}
#chart {
  padding: 0px;
}
.xaxislabel {
  font-size: 9px;
}*/

/*table{
    display: inline-block; 
    overflow: auto;
    table-layout: auto;
    height: 65%;
    border: 20px solid lightgrey;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
    
}

td, th{
    padding: 5px;
}*/

/*th{
    position: fixed;
}*/